{% extends "layout.html" %}
{% block title %}
  <title>Books - Library System</title>
{% endblock title %}
{% block body %}
  <main class="w-[calc(100%-48px)] md:w-[calc(100%-250px)] h-full p-8 flex flex-col gap-4">
    <h1 class="text-2xl font-bold">Available Books</h1>
    <section class="w-full flex flex-row gap-4 border rounded-lg border-gray-300 p-4 max-lg:flex-col">
      <form method="get" class="w-full flex flex-row gap-4">
        <input type="text"
               name="search"
               value="{{ request.GET.search }}"
               placeholder="Search by title..."
               class="w-full md:w-3/4 p-2 border border-gray-300 placeholder:font-bold rounded text-sm outline-gray-400" />
        <select name="category"
                value="{{ request.GET.category }}"
                class="w-full md:w-1/4 border border-gray-300 rounded p-2 text-sm">
          <option value="" {% if request.GET.category == "" %}selected{% endif %}>All Categories</option>
          {% for category in categories %}
            <option value="{{ category }}"
                    {% if request.GET.category == category %}selected{% endif %}>{{ category }}</option>
          {% endfor %}
        </select>
      </form>
      <button class="w-full lg:w-1/4 border border-gray-300 rounded p-2 text-sm bg-black text-white hover:bg-black/80 hover:cursor-pointer transition-all">
        Add book
      </button>
    </section>
    <section class="w-full flex border-2 rounded-lg border-gray-300">
      <div class="w-full overflow-x-auto">
        <table class="w-full min-w-[800px] text-sm text-left">
          <thead class="text-gray-500">
            <tr class="border-b border-gray-300">
              <th class="p-4">Title</th>
              <th class="p-4">Author</th>
              <th class="p-4">ISBN</th>
              <th class="p-4">Publisher</th>
              <th class="p-4">Category</th>
              <th class="p-4">stock</th>
            </tr>
          </thead>
          <tbody>
            {% for book in books %}
              <tr class="border-b border-gray-300 hover:bg-gray-100">
                <td class="p-4 font-semibold">{{ book.title }}</td>
                <td class="p-4">{{ book.author }}</td>
                <td class="p-4">{{ book.isbn }}</td>
                <td class="p-4">{{ book.publisher }}</td>
                <td class="p-4">
                  <div class="border border-gray-300 px-2.5 py-0.5 text-xs font-semibold rounded-full w-fit text-center">
                    {{ book.category }}
                  </div>
                </td>
                <td class="p-4">
                  {% if book.stock > 0 and book.stock <= 5 %}
                    <div class=" border border-yellow-200 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold text-yellow-700 bg-yellow-50 text-center">
                      {{ book.stock }} Available
                    </div>
                  {% endif %}
                  {% if book.stock > 5 %}
                    <div class=" border border-green-200 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold text-green-700 bg-green-50 text-center">
                      {{ book.stock }} Available
                    </div>
                  {% endif %}
                  {% if book.stock == 0 %}
                    <div class=" border border-red-200 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold text-red-700 bg-red-50 text-center">
                      Out of stock
                    </div>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    {% with books as items %}
      {% include "components/pagination.html" %}
    {% endwith %}
  </main>
  <script type="module">
    const $form = document.querySelector("form")
    const $selection = $form.querySelector("select")

    $selection.addEventListener("change", () => $form.submit())
  </script>
{% endblock body %}
