{% extends "layout.html" %}
{% block title %}
  <title>Dashboard - Gestión de biblioteca</title>
{% endblock title %}
{% block body %}
  <main class="flex flex-col gap-6 p-8 w-full h-full overflow-y-auto">
    <h1 class="font-bold text-3xl">Dashboard</h1>
    <section id="cards"
             class="flex flex-row gap-4 items-center justify-between max-[1185px]:flex-col">
      <article class="w-full flex flex-col gap-2 p-6 border border-gray-300 rounded">
        <header class="flex items-center gap-6 justify-between">
          <h1>Total Books</h1>
          {% include "icons/book.html" %}
        </header>
        <div>
          <h2 class="font-bold text-2xl">{{ books.total_books }}</h2>
          <p class="text-sm text-gray-500">+{{ books.added_month }} added this month</p>
        </div>
        <footer class="mt-4">
          <a href="/books"
             class="py-2 px-4 hover:bg-black/20 rounded transition-all text-sm font-semibold">View all books</a>
        </footer>
      </article>
      <article class="w-full flex flex-col gap-2 p-6 border border-gray-300 rounded">
        <header class="flex items-center gap-6 justify-between">
          <h1>Active Loans</h1>
          {% include "icons/package.html" %}
        </header>
        <div>
          <h2 class="font-bold text-2xl">{{ loans.active_loans }}</h2>
          <p class="text-sm text-gray-500">+{{ loans.active_from_last_week }} from last week</p>
        </div>
        <footer class="mt-4">
          <a href="/loans"
             class="py-2 px-4 hover:bg-black/20 rounded transition-all text-sm font-semibold">View active loans</a>
        </footer>
      </article>
      <article class="w-full flex flex-col gap-2 p-6 border border-gray-300 rounded">
        <header class="flex items-center gap-6 justify-between">
          <h1>Members</h1>
          {% include "icons/users.html" %}
        </header>
        <div>
          <h2 class="font-bold text-2xl">{{ members.total_members }}</h2>
          <p class="text-sm text-gray-500">+{{ members.new_members }} new members</p>
        </div>
        <footer class="mt-4">
          <a href="/members"
             class="py-2 px-4 hover:bg-black/20 rounded transition-all text-sm font-semibold">View all members</a>
        </footer>
      </article>
      <article class="w-full flex flex-col gap-2 p-6 border border-gray-300 rounded">
        <header class="flex items-center gap-6 justify-between">
          <h1>Overdue</h1>
          {% include "icons/time.html" %}
        </header>
        <div>
          <h2 class="font-bold text-2xl">{{ loans.overdue_loans }}</h2>
          <p class="text-sm text-gray-500">-{{ loans.overdue_from_last_week }} from last week</p>
        </div>
        <footer class="mt-4">
          <a href="/loans"
             class="py-2 px-4 hover:bg-black/20 rounded transition-all text-sm font-semibold">View overdue loans</a>
        </footer>
      </article>
    </section>
    <section id="graphics">
      <article class="w-full flex flex-col gap-2 p-6 border border-gray-300 rounded">
        <header class="w-full flex flex-col gap-2">
          <h1 class="text-2xl font-bold">New Members</h1>
          <p class="text-sm text-gray-500">Monthly new member registrations</p>
        </header>
        <canvas id="graphic-new-members"></canvas>
      </article>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="module">
    const $ = (element) => document.querySelector(element)

    const ctx = $("#graphic-new-members").getContext("2d")

    const data = {{ new_members_last_seven_months|safe }}

    console.log(data)

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: Object.keys(data).map(key => key),
        datasets: [{
          label: 'New members',
          data: Object.values(data).map(value => value),
          borderWidth: 1,
          backgroundColor: ''
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          legend: {
            position: 'bottom'
          }
        }
      }
    })
  </script>
{% endblock body %}
