{% extends "layout.html" %}
{% block title %}
  <title>Members - Library System</title>
{% endblock title %}
{% block body %}
  <main class="w-[calc(100%-48px)] md:w-[calc(100%-250px)] h-full p-8 gap-4 flex flex-col overflow-y-auto">
    <h1 class="text-3xl font-bold">Members Management</h1>
    <section class="w-full flex flex-col md:flex-row gap-4 border rounded-lg border-gray-300 p-4">
      <form method="get" class="w-full flex flex-row gap-4">
        <input type="text"
               name="search"
               placeholder="Search by username..."
               value="{{ request.GET.search }}"
               class="w-full md:w-3/4 p-2 border border-gray-300 placeholder:font-bold rounded text-sm outline-gray-400" />
        <select name="status"
                class="w-full md:w-1/4 p-2 border border-gray-300 rounded text-sm"
                value="{{ request.GET.status }}">
          <option value="" {% if request.GET.status == "" %}selected{% endif %}>All Members</option>
          <option value="active"
                  {% if request.GET.status == "active" %}selected{% endif %}>Active</option>
          <option value="suspended"
                  {% if request.GET.status == "suspended" %}selected{% endif %}>Suspended</option>
        </select>
      </form>
      <a href="{% url "new_member" %}"
         title="Ir a página para crear usuarios"
         class="w-full md:w-1/4 border border-gray-300 rounded p-2 text-sm bg-black text-white hover:bg-black/80 hover:cursor-pointer transition-all text-center">
        Add Member
      </a>
    </section>
    <section class="w-full flex border-2 rounded-lg border-gray-300">
      <div class="w-full overflow-x-auto">
        <table class="w-full min-w-[800px] text-sm text-left">
          <thead class="text-gray-500">
            <tr class="border-b border-gray-300">
              <th class="p-4">Username</th>
              <th class="p-4">Name</th>
              <th class="p-4">email</th>
              <th class="p-4">Date Joined</th>
              <th class="p-4">Role</th>
              <th class="p-4">Status</th>
              <th class="p-4">View</th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
              <tr class="border-b border-gray-300 hover:bg-gray-100">
                <td class="p-4 font-semibold">{{ member.username }}</td>
                <td class="p-4">{{ member.first_name }} {{ member.last_name }}</td>
                <td class="p-4">{{ member.email }}</td>
                <td class="p-4">{{ member.date_joined|date:"M j, Y" }}</td>
                <td class="p-4">
                  <div class="border border-gray-300 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold">{{ member.role }}</div>
                </td>
                <td class="p-4">
                  {% if member.is_active %}
                    <div class="border border-green-200 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold text-green-700 bg-green-50">
                      Active
                    </div>
                  {% else %}
                    <div class="border border-red-200 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold text-red-700 bg-red-50">
                      Suspended
                    </div>
                  {% endif %}
                </td>
                <td class="p-4">
                  <a href="{% url "view_member" member.id %}"
                     title="Ir a ver el miembro {{ member.first_name }} {{ member.last_name }}"
                     class="flex w-fit p-2 hover:bg-black/20 rounded transition-colors">
                    {% include "icons/eye.html" %}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    {% with members as items %}
      {% include "components/pagination.html" %}
    {% endwith %}
  </main>
  <script type="module">
    const $form = document.querySelector("form")
    const $selection = $form.querySelector("select")

    $selection.addEventListener("change", () => $form.submit())
  </script>
{% endblock body %}
