{% extends "layout.html" %}
{% block title %}
  <title>View user {{ user.username }} - Library System</title>
{% endblock title %}
{% block body %}
  <main class="w-[calc(100%-48px)] md:w-[calc(100%-250px)] h-full p-8 flex flex-col gap-4">
    <div class="container mx-auto p-8 border border-gray-300 rounded-lg flex gap-4 items-center justify-between">
      <div class="flex flex-row items-center gap-4">
        <a href="{% url "members" %}"
           title="Volver a pagina de todos los miembros"
           class="h-12 w-12 p-2 border border-gray-300 rounded flex justify-center items-center hover:bg-gray-100 transition-colors">
          {% include "icons/arrow-left.html" %}
        </a>
        <div class="flex flex-col gap-0.5">
          <h1 class="text-2xl md:text-3xl font-bold">{{ user.first_name }} {{ user.last_name }}</h1>
          {% if user.is_active %}
            <p class=" border border-green-200 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold text-green-700 bg-green-50 text-center">
              Active
            </p>
          {% else %}
            <p class=" border border-red-200 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold text-red-700 bg-red-50 text-center">
              Suspended
            </p>
          {% endif %}
        </div>
      </div>
      <div class="flex flex-row gap-4">
        <a href="{% url "edit_member" user.id %}"
           title="Ir a editar el miembro {{ book.username }}"
           class="h-12 px-4 flex items-center justify-center bg-black hover:bg-black/80 transition-colors font-semibold rounded text-white cursor-pointer">
          Edit Member
        </a>
      </div>
    </div>
    <section class="container mx-auto flex flex-col gap-4 border border-gray-300 rounded-lg p-8">
      <h2 class="font-semibold text-2xl flex flex-row gap-2 items-center pb-6 border-b border-gray-300">
        {% include "icons/users.html" %}
        Member Information
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
          <h4 class="font-semibold text-gray-500">Username</h4>
          <p>{{ user.username }}</p>
        </div>
        <div class="flex flex-col gap-1">
          <h4 class="font-semibold text-gray-500">Name</h4>
          <p>{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="flex flex-col gap-1">
          <h4 class="font-semibold text-gray-500">Email</h4>
          <p>{{ user.email }}</p>
        </div>
        <div class="flex flex-col gap-1">
          <h4 class="font-semibold text-gray-500">Role</h4>
          <p class=" border border-gray-300 px-2.5 py-0.5 rounded-full w-fit text-xs font-bold text-center">{{ user.role }}</p>
        </div>
        <div class="flex flex-col gap-1">
          <h4 class="font-semibold text-gray-500">Date Joined</h4>
          <p>{{ user.date_joined|date:"M j, Y" }}</p>
        </div>
      </div>
    </section>
  </main>
{% endblock body %}
